<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:roman="http://mine.roman.com/schema/roman/service"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
http://mine.roman.com/schema/roman/service http://mine.roman.com/schema/roman/service.xsd">

  <roman:service id="helloService" interface=""/>
</beans>